h1{
	text-align: center;
	color: green;
	font size: 5px;
	border: 5px solid; red;
}
aside{
	width: 25%;
  padding-left: 20px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: lightgray;
}
table, th, td {
	border: 2px solid red;
}
details summary p {
	color: red;
}
details p {
	color: red;
}
h2 {
	background-color: red;
}